FLASK_DEBUG=false
SECRET_KEY=change-this-in-render
INITIAL_NODE_COUNT=3
MIN_NODE_COUNT=2
MAX_NODE_COUNT=8
NODE_CAPACITY=100
METRICS_HISTORY_LIMIT=36
SCALE_UP_THRESHOLD=80
SCALE_DOWN_THRESHOLD=20
SCALE_UP_CYCLES=2
SCALE_DOWN_CYCLES=4
